body{
    text-align: center;
}
h1{
    color: blue;
}
h2{
    color: black;
}
h3{
    color: blue;
}
p{
    color: grey;
}
#temp{
    font-size: xx-large;
    color: black;
}
button{
    background-color: blue;
    color: azure;
    border-radius: 25px;
    font-size: larger;
}
