* {
    margin: 0;
    padding: 0;
    font-family: arial;
    border: border-box;
}
body{
    width: 100%;
    height: 100%;
    background: #000;
    color: white;
}
header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(36, 36, 36, 0.5), #000), url(./images/background_image.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    margin-left: 150px;
    margin-right: 150px;
}
.logo{
    width: 160px;
    height: auto;
    cursor: pointer;
}
.logo img{
    width: 100%;
}
button{
    border: 0;
    outline: none;
    background: red;
    color: white;
    padding: 10px 18px;
    font-size: 15px;
    border-radius: 4px;
    margin-left: 7px;
    cursor: pointer;
}
.lang{
    background: transparent;
    border: 1px solid white;
}
.lang i{
    margin-left: 6px;
}  

/* header text */
.header-text{
    display: grid;
    place-items: center;
    margin-top: 15%;
    
}
.header-text h1{
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
}
.header-text h3{
    font-size: 22px;
    font-weight: 800;
    margin: 20px 0;
    line-height: 60px;
}
.header-text p{
    font-size: 18px;
    margin-bottom: 20px;
}
.email {
    display: flex;
    gap: 6px;
    border: 0;
    outline: 0;
    align-items: center;
    margin: auto;
}
.email input{
    padding: 20px 200px;
    padding-left: 10px;
    outline: none;
    border: 1px solid grey;
    border-radius: 4px;
    background: rgba(20, 20, 20, 0.8);
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}
.email button{
    background: red;
    padding: 12px 25px;
    border: 0;
    outline: none;
    border-radius: 4px;
    font-size: 22px;
    color: #fff;
}
.email button i{
    margin-left: 8px;
}

hr {
    background: rgb(66, 65, 65);
    width: 100%;
    height: 7px;
    border: 0;
    outline: 0;
}

.container {
    width: 100%;
    
}
.body-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: auto;
    height: 600px;
}

.text h2 {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 40px;
}
.text p{
    font-size: 25px;
}
.img-1{
    position: relative;
    margin-left: 150px;
}
.img-1 img{
    width: 600px;
    position: relative;
    z-index: 10;        /* to overlap */
}
.img-1 video{
    position: absolute;
    width: 500px;
    top: 80px;
    right: 30px;
}

.img-3{
    position: relative;
    margin-left: 150px;
}
.img-3 img{
    width: 550px;
    position: relative;
    z-index: 10;        /* to overlap */
}
.img-3 video{
    position: absolute;
    width: 350px;
    top: 10px;
    right: 100px;
    height: 230px;
}
.img-4 {
    position: relative;
    margin-left: 150px;
}
.img-4 img {
    width: 500px;
    position: relative;
}

/* FAQ section */

.faq {
    width: 100%;
}

.faq h1 {
    text-align: center;
    font-size: 45px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;
}
.row button {
    padding: 20px 30px;
    width: 70%;
    font-size: 22px;
    font-weight: 540;
    background: rgb(43, 41, 41);
    color: #fff;
    text-align: left;
    border: 0;
    outline: 0;
    margin-bottom: 10px;
}
.row button:hover {
    background: #5a5757;
}
.row button:after {
    content: '+';
    float: right;
    font-size: 32px;
}

/* Main footer section */
.footer {
    width: 100%;
    padding: 50px 12% 20px;
}

.footer .row {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 20px 0;
}

.footer .row .col a{
    display: block;
    color: #999797;
    text-decoration: underline;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 550;
}
.fooyer h2{
    font-size: 18px;
    color: #918e8e;
    margin-bottom: 30px;
}
